/*Index CSS Style*/

body {
  background-image:url('../assets/30459151.jpg');
}

.backgroundcover {
  background-image: url('../assets/overlay-pattern.png');
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  opacity:0.7;
  z-index:-1;
}

h1 {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
  color: white;
  font-family: 'Candal', sans-serif;
}

h3 {
  text-align: center;
}

h4 {
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  color: white;
}

div.intro {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#buttons {
  padding-left: 10%;
  margin-top: 2%;
}

.button {
  display: inline-block;
  width: 250px;
  height: 70px;
  padding: .29rem;
  border: none;
  margin: 15px;
  font-family: 'Candal', sans-serif;
  font-size: 18px;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: .3s background;
}

.Button:hover {
  color: rgba(255, 255, 255, 0.99);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow:
  0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
  0 2px 6px rgba(0, 0, 0, 0.5),
  0 10px rgba(0, 0, 0, 0.05) inset,
  0 0 5px 2px rgba(255, 255, 255, 0.75),
  0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
}

.Button:active {
  position:relative;
  top:1px;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  color: white;
  font-style: bold;
  padding-left: 260px;
}

/*#sharebuttons {
  position:relative;
  padding-left: 45%;
  padding-top: 10%;
}*/

p:hover {
  color: rgba(255, 255, 255, 0.99);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
}

#second_container {
  margin-top: -5%;
  padding-left: 43%;
  padding-top: 7%;
}

#third_container {
  margin-top: 1%;
  padding-left: 26%;
  padding-top: 7%;
  padding-bottom: 10%;
}

#next_button {
  width: 100px;
  height: 50px;
  padding: .29rem;
  border: none;
  margin: 10px;
  font-family: 'Candal', sans-serif;
  font-size: 18px;
  background: rgba(0,0,0,0.75);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: .3s background;
}

#trend_button {
  width: 200px;
  height: 50px;
  padding: .29rem;
  border: none;
  margin-left: 18%;
  font-family: 'Candal', sans-serif;
  font-size: 18px;
  background: rgba(0,0,0,0.75);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: .3s background;
}

#trend_button:hover {
  color: rgba(255, 255, 255, 0.99);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow:
  0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
  0 2px 6px rgba(0, 0, 0, 0.5),
  0 10px rgba(0, 0, 0, 0.05) inset,
  0 0 5px 2px rgba(255, 255, 255, 0.75),
  0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
}

/*Video Page CSS Style*/

.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#question {
  position: fixed;
  left: 2%;
  width: 70%;
}

span.highlight {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
}

div#sidebar-wrapper {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  float: right;
  border-left: 1px black solid;
  height: 100%;
  display: inline-block;
  width: 30%;
}

#sidebar-wrapper div{
  display: inline-block;
  border: 1px black solid;
  margin: 5px;
  padding: 10px;
}

div#video-selector {
  position: fixed;
  left: 1%;
  margin-top: 12%;
}

div.anonymous-person {
  background-image: url('/../assets/images/anonymous-silhouette.jpg');
  background-size: cover;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  margin: 2px;
  width: 60px;
  height: 60px;
}

div#niko {
  background-image: url('/../assets/images/mockImages/nikobw.jpeg');
  background-size: cover;
}

div#niko:hover {
  background-image: url('/../assets/images/mockImages/niko.jpg');
  background-size: cover;
}

div#iman {
  background-image: url('/../assets/images/mockImages/imanbw.jpeg');
  background-size: cover;
}

div#iman:hover {
  background-image: url('/../assets/images/mockImages/iman.jpg');
  background-size: cover;
}

div#joseph {
  background-image: url('/../assets/images/mockImages/josephbw.jpeg');
  background-size: cover;
}

div#joseph:hover {
  background-image: url('/../assets/images/mockImages/joseph.jpg');
  background-size: cover;
}

div#ruyue {
  background-image: url('/../assets/images/mockImages/ruyuebw.jpeg');
  background-size: cover;
}

div#ruyue:hover {
  background-image: url('/../assets/images/mockImages/ruyue.jpg');
  background-size: cover;
}

div#yuqing {
  background-image: url('/../assets/images/mockImages/yuqingbw.jpeg');
  background-size: cover;
}

div#yuqing:hover {
  background-image: url('/../assets/images/mockImages/yuqing.jpg');
  background-size: cover;
}

div#video-control {
  background-image: url('/../assets/images/pause16.png');
  /* attribution for this image --- <div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> */
  background-size: cover;
}

div#video-control:hover {
  background-image: url('/../assets/images/pause17.png');
  /* attribution for this image --- <div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> */
  background-size: cover;
}

div.anonymous-person:hover{
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 50px;
}

.btn {
  background: #363535;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 0 6px #B2B2B2;
  border: 1px;
  border-color: black;
  margin-left: 45%;
  width: 100%;
  height: 100%;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.99);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow:
  0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
  0 2px 6px rgba(0, 0, 0, 0.5),
  0 10px rgba(0, 0, 0, 0.05) inset,
  0 0 5px 2px rgba(255, 255, 255, 0.75),
  0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
}

/*a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
  color: white;
}

a:hover {
    color: red;
}*/

span.price {
  font-size: 1.5em;
}

.blink {
animation-duration: 1s;
animation-name: blink;
animation-iteration-count: infinite;
animation-timing-function: steps(2, start);
}

@keyframes blink {
    80% {
        visibility: hidden;
    }
}

.bubble {
  position: relative;
  margin-left: 10%;
  width:100%;
  background-color: transparent #000;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  vertical-align: top;
}

.bubble:after {
  border: 1em solid transparent;
  border-top-color:  #fff transparent;
  content: '';
  margin-left: -1em;
  position: absolute;
  top: 100%;
  left: 30%;
  width: 0;
  height: 0;
}

#btn2 {
  margin-left:70%;
  margin-top: 5%;
  background-color: #000;
}
